.container-content {
  display: flex;
  justify-content: space-between;
  max-width: 1032px;
  margin: auto;
}
.container-skill {
  margin-top: 30px;
  padding: 15px;
  color: white;
  background-color: #161b22;

  border-radius: 6px;
  border: solid #30363d 1px;
}
.container-skill p {
  color: #58a6ff;
}
ul {
  display: flex;
}
.container-skill li {
  margin-left: 25px;
}

.container-education {
  margin-top: 30px;
  padding: 15px;
  flex: 1;
  color: white;
  background-color: #161b22;
  align-items: center;
  border-radius: 6px;
  border: solid #30363d 1px;
}
.education-item {
  display: flex;
}
.gray-text {
  color: #8b949e;
}
.education-text {
  margin-left: 10px;
  max-width: 300px;
}
@media screen and (max-width: 800px) {
  .container-content {
    flex-direction: column;
    margin: 15px;
  }
}
@media screen and (min-width: 800px) {
  .container-skill {
    margin-right: 20px;
  }
}
