body {
  background-color: #0d1117;
}
h2 {
  color: white;
}

.latest {
  width: 1030px;
  margin: 30px auto;
}
.empty-margin-div {
  padding: 50px;
}

@media screen and (max-width: 800px) {
  .latest {
    margin: 15px;
  }
}
